.container {
  min-width: 240px;
  max-width: 1080px;
  margin: 20px auto;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place particles behind other content */
}

.search{
  color: #070707;
  background-color: rgba(101, 160, 219, 0.197); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px; 
}
.search,
.current-weather,
.forecast {
  z-index: 0; /* Ensure content is above particles */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #040404;
  background-color: transparent;
}
